{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Система</title>
    <link href="{% static 'css/indicators_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <div class="primary_header">
                <h1 class="title"> Система управления микроклиматом в помещении</h1>
            </div>
            <nav class="secondary_header" id="menu">
                <ul>
                    <li id="active_tab">
                        <button onclick="location.href='http://127.0.0.1:8000/system/indicators/'"
                                id="button" class="button_class">
                            Показатели
                        </button>
                    </li>
                    <li>
                        <button onclick="location.href='http://127.0.0.1:8000/system/statistics/'"
                                id="button" class="button_class">
                            Статистика
                        </button>
                    </li>
                    <li>
                        <button onclick="location.href='http://127.0.0.1:8000/system/schedule/'"
                                id="button" class="button_class">
                            Расписание
                        </button>
                    </li>
                    <li>
                        <button onclick="location.href='http://127.0.0.1:8000/system/logout/'"
                                id="button" class="button_class">
                            Выход
                        </button>
                    </li>
              </ul>
            </nav>
        </header>
        <div class="row">
            <div class="columns">
                 <div>
                    <h4>Температура в помещении</h4>
                     <p align="center"><h5>{{ data.temperature_data.message }}</h5>
                    <p>Дата и время измерения: {{ data.temperature_data.date_and_time }}
                 </div>
            </div>
            <div class="columns">
                <div>
                    <h4>Влажность в помещении</h4>
                    <p align="center"><h5>{{ data.humidity_data.message}}</h5></p>
                    <p>Дата и время измерения: {{ data.humidity_data.date_and_time }}</p>
                </div>
            </div>
            <div class="columns">
                <div>
                    <h4>Температура батарей</h4>
                    <p align="center"><h5>45C</h5></p>
                    <p>Дата и время измерения: 6.04.2022 17:00</p>
                </div>
            </div>
            <div class="columns">
                <div>
                    <h4>Статус рекуператора</h4>
                    <p align="center"><h5>Приток</h5></p>
                    <p>Дата и время измерения: 6.04.2022 17:00</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
