{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Расписание</title>
    <link href="{% static 'css/schedule_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
    <header>
        <div class="primary_header">
            <h1 class="title"> Система управления микроклиматом в помещении</h1>
        </div>
        <nav class="secondary_header" id="menu">
            <ul>
                <li>
                    <button onclick="location.href='http://127.0.0.1:8000/system/indicators/'"
                            id="button" class="button_class">
                        Показатели
                    </button>
                </li>
                <li>
                    <button onclick="location.href='http://127.0.0.1:8000/system/statistics/'"
                            id="button" class="button_class">
                        Статистика
                    </button>
                </li>
                <li id="active_tab">
                    <button onclick="location.href='http://127.0.0.1:8000/system/schedule/'"
                            id="button" class="button_class">
                        Расписание
                    </button>
                </li>
                <li>
                    <button onclick="location.href='http://127.0.0.1:8000/system/logout/'"
                            id="button" class="button_class">
                        Выход
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="row">
        <div class="columns">
            <form action="/system/schedule/" method="post">
                {% csrf_token %}
                 <div class="paddings">
                     Время начала
                     <input type="time" name="start_time" id="st_name">
                     Время окончания
                     <input type="time" name="end_time" id="en_name">
                     Температура
                     <select name="temp_value" id="te_name">
                        <option value="15" selected>15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                     </select>
                     ℃
                     <input type="submit" value="Отправить" id="submit_btn">
                 </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <div class="paddings">
                <table class="table_style" id="schedule_table">
                    <tr>
                        <th>
                            Время начала
                        </th>
                        <th>
                            Время окончания
                        </th>
                        <th>
                            Температура
                        </th>
                        <th>
                            Удалить
                        </th>
                    </tr>

                    {% for schedule_element in schedule %}
                        <tr>
                            <td>
                                {{ schedule_element.start_time }}
                            </td>
                            <td>
                                {{ schedule_element.end_time }}
                            </td>
                            <td>
                                {{ schedule_element.temperature }}
                            </td>
                            <td>
                                <button onclick="delete_row(this.parentNode.parentNode.rowIndex,
                                        {{ schedule_element.id }})">
                                    <img src=https://www.svgrepo.com/show/79440/delete-button.svg height = "20"
                                         width = "20"  alt=""/>
                                </button>
                            </td>
                         </tr>
                    {% endfor %}
                </table>
                <script>
                    submit = document.getElementById("submit_btn");
                    submit.addEventListener('click', function (e){
                        var st_time =  document.getElementById("st_name").value;
                        var en_time = document.getElementById("en_name").value;
                        var temp_value = document.getElementById("te_name").value;
                        if(en_time <= st_time){
                            e.preventDefault();
                            alert("End time is less then start time!");
                        }
                        if(!time_segments_is_not_intersects(st_time, en_time)){
                            e.preventDefault();
                            alert("Schedule intersects with one of previous");
                        }
                    });

                    function delete_row(num, row_id){
                        document.getElementById("schedule_table").deleteRow(num);
                        try {
                            const response = fetch('http://127.0.0.1:8000/system/schedule/', {
                              method: 'post',
                                headers: {
                                  'Content-Type': 'application/json',
                                    "X-CSRFToken": getCookie('csrftoken')
                                },
                              body: JSON.stringify(
                                  {
                                    schedule_status: "delete",
                                    id: row_id
                                  }
                              )
                            });
                            console.log('Completed!', response);
                          } catch(err) {
                            console.error(`Error: ${err}`);
                          }
                    }

                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function time_segments_is_not_intersects(st_time, en_time){
                        var table = document.getElementById("schedule_table");
                        for(var i = 1, row; row = table.rows[i]; i++){
                            if(!(st_time < row.cells[0].innerText && en_time < row.cells[0].innerText ||
                                st_time > row.cells[1].innerText && en_time > row.cells[1].innerText)){
                                    return false;
                            }
                        }
                        return true;
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
